<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19A603003</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.CellPhoneHelperEM7455</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Cell Phone Helper</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.4.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12A121</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.16</string>
	<key>DTSDKBuild</key>
	<string>20A4299p</string>
	<key>DTSDKName</key>
	<string>macosx10.16internal</string>
	<key>DTXcode</key>
	<string>1200</string>
	<key>DTXcodeBuild</key>
	<string>12A121</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>0x1199/0x9071 EM7455</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>DeviceModemOverrides</key>
				<dict>
					<key>AccessPointName</key>
					<string>Obtain From Service Provider</string>
					<key>ConnectionPersonality</key>
					<string>Sierra GSM Personality</string>
					<key>ConnectionScript</key>
					<string>WWAN.ccl</string>
					<key>DeviceContextID</key>
					<string>1</string>
					<key>DeviceModel</key>
					<string>GSM</string>
					<key>DeviceVendor</key>
					<string>Sierra Wireless</string>
				</dict>
				<key>DevicePPPOverrides</key>
				<dict>
					<key>LCPMTU</key>
					<integer>1450</integer>
				</dict>
				<key>InfoCommands</key>
				<dict>
					<key>ATCommands</key>
					<dict>
						<key>DirectoryNumber</key>
						<string>+cnum</string>
						<key>IMEI</key>
						<string>+cgsn</string>
						<key>IMSI</key>
						<string>+cimi</string>
						<key>Manufacturer</key>
						<string>+cgmi</string>
						<key>Model</key>
						<string>+cgmm</string>
						<key>ModemSW</key>
						<string>+cgmr</string>
						<key>Serial#</key>
						<string>+gsn</string>
					</dict>
					<key>HiddenProperties</key>
					<dict>
						<key>CommandPortBaseName</key>
						<string>wwan</string>
						<key>ControlPortBaseName</key>
						<string>wwanGPS</string>
						<key>DataPortBaseName</key>
						<string>wwan</string>
						<key>StatusType</key>
						<string>CellPhoneGSM</string>
					</dict>
				</dict>
				<key>Initializing</key>
				<true/>
				<key>InterfaceMapping</key>
				<dict>
					<key>0</key>
					<dict>
						<key>name</key>
						<string>wwanDM</string>
					</dict>
					<key>2</key>
					<dict>
						<key>name</key>
						<string>wwanGPS</string>
					</dict>
					<key>3</key>
					<dict>
						<key>name</key>
						<string>wwan</string>
					</dict>
				</dict>
				<key>WWAN</key>
				<true/>
			</dict>
			<key>bcdDevice</key>
			<integer>6</integer>
			<key>idProduct</key>
			<integer>36977</integer>
			<key>idVendor</key>
			<integer>4505</integer>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.16</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleUSBHostMergeProperties</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
